/*  your css code here. If applicable */
.container{
    width: 200px;
    background-color: whitesmoke;
    padding:50px;
    box-shadow:2px 2px 10px  ;

}
img{
    width: 100%;
}
button{
    padding: 24px;
    background-color: red;
    color: white;
    border-radius: 19px;
    margin: auto;
    
}
